{% extends 'layout.html' %}

{% block titulo %} Home {% endblock titulo %}




{% block content %}


<section class="home_1_content">

<h1 class="animated_h1_home">Una Nueva Forma de <br> <span class="tomato">Programar</span></h1>
<span><a href="#">Portfolio</a></span>
</section>


<section class="home_2_content">

<h2> Profesionalidad con alta <span class="tomato">calidad</span> </h2>

<article>

    <div class="h2_1_div">

       <div>
        <span>Diseño <span class="tomato">Web</span></span>
        <hr>
        <p>Diseño de páginas web con Html, Css3, Php, Jss y frameworks como DJango</p>
       </div>

    </div>


  <div class="content_h2_div">
    <div class="h2_2_div">
      
      <div>
        <span>Aplicaciones de <span class="tomato">escritorio</span></span>
        <hr>
        <p>Tkinter</p>
      </div>

    </div>

    <div class="h2_3_div">
        <div>
        <span>Aplicaciones <span class="tomato">Moviles</span></span>
        <hr>
        <p>Kivy</p>
        </div>
    </div>
  </div>


</article>

</section>




{% endblock content %}


