@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=IBM+Plex+Mono:wght@500&family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
/*

    fuente para logo:
    font-family: 'IBM Plex Mono', monospace;


    fuente para menu:
    font-family: 'Nunito', sans-serif;


    fuente para h1:
    font-family: 'DM Sans', sans-serif;

    fuente para parrafos:
    font-family: 'Hind', sans-serif;


*/